BasedOnStyle: Google
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Preserve
ColumnLimit: 200
BreakConstructorInitializers: BeforeComma
AllowAllConstructorInitializersOnNextLine: true
ConstructorInitializerAllOnOneLineOrOnePerLine: false
AccessModifierOffset: -4
IndentWidth: 4
TabWidth: 4
UseTab: Never
---
Language: Proto
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
ColumnLimit: 0
#DisableFormat: true
